<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <server name="HTTP_HOST" value="example.test"/>
        <server name="REQUEST_URI" value="/"/>
    </php>
    <testsuites>
        <testsuite name="payflex">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">config</directory>
            <file>partpay.php</file>
        </include>
    </source>
</phpunit>
